@import url(//db.onlinewebfonts.com/c/4866e277bf7a961362f10bc13925cbbf?family=Iskra);

body {
    /* font-family: 'Acme', sans-serif; */
    /* font-family: 'Cabin', sans-serif; */
    font-family: "Iskra"; 
    /* src: url("//db.onlinewebfonts.com/t/2111f7d4b53c115e872c6151b09af646.eot"); */
}

.content-container{
    display: grid;
    grid-template-areas: 
        "menu header right"
        "menu item1 right"
        "item2 item2 right"
        "item3 item3 right"
        "item4 item4 right"
        "footer footer right";
    background-color: #FFFDEF;
    width: 100vw;
}

.content-container > nav{
    padding: 0 0;
}

.menu > iframe{
    align-items: vertical;
    position: fixed;
}

.svg-img{
    /* height: 160px;
    width: 160px; */
    display: block;
    height: 14.8vh;
}

.menu{
    grid-area: menu;
    width: 160px;
}

.header{
    /* align-items: left; */
    grid-area: header;
    /* right: 39.5 vw; */
    padding: 0 0;
    margin: 0 0;
    /* margin-left: 35.7vw; */
}

.right-img{
    grid-area: right;
    height: 100vh;
}

.item1{
    grid-area: item1;
    text-align: left;
    /* /* padding-left: 280px; */
    /* padding-right: 120px; */
    /* left: 280px; */
    /* padding: 75px 75px 75px 75px; */
    padding: 75px 50px 75px 0;
}

.item2{
    grid-area: item2;
    text-align: left;
    /* padding-left: 280px;
    padding-right: 120px; */
    padding: 75px 50px 75px 160px;
    background-color: #004069;
}

.item3{
    grid-area: item3;
    text-align: left;
    /* padding-left: 280px;
    /* padding-right: 120px; */
    padding: 75px 50px 75px 160px;
}

.item4{
    grid-area: item4;
    text-align: left;
    /* padding-left: 280px;
    padding-right: 120px; */
    padding: 75px 50px 75px 160px;
    background-color: #004069;
}

.footer{
    grid-area: footer;
    text-align: left;
    padding: 75px 50px 75px 160px;    
    background-color: #ffdd00;
}

h1{
    font-size: 44px;
    font-weight: medium;
    color: #004069;
}

h2{ 
    font-size: 56px;
    font-weight: bold;
    color: #E8348B;
}

h3{
    font-size: 36px;
    color: #fffdef;
}

h4{
    font-size: 30px;
    color: #fffdef;
}

h5{
    font-size: 30px;
    color: #e8348b;
    margin-bottom: 0;
}

h6{
    font-size: 44px;
    color: #004069;
    margin: 10px 0;
}

p{
    font-size: 24px;
    color: #004069;
}

.item1 > p{
    width: 45vw;
}

.item3 > h5{
    margin-top: 0;
}

.item3 > h6{
    margin-bottom: 30px;
}

.item4 > h1{
    font-size: 53px;
    margin-top: 151px;
    margin-bottom: 36px;
    color: #E8348B;
}

.p-white{
    color: #fffdef;
    font-size: 18px;
    margin-bottom: 75px;
}

.p-blue{
    color: #004069;
    font-size: 18px;
    /* margin-bottom: 75px; */
}

.intro{
    font-size: 20px;
    color: #004069;
    margin-top: 52px;
    margin-bottom: 52px;

}

li{
    list-style-type: none;
}

.header > form {
    width: 45vw;
    margin: 0 0;
}

.header > form > input{
    text-align: center;
    width: 323px;
    font-size: 20px;
    color: #004069;
    margin-left: 200px;
    background-color: #FFDD00;
    border: 1px solid #FFDD00;
    border-radius: 25px;
}

.header > form > button{
    text-align: center;
    font-size: 20px;
    color: #004069;
    width: 130px;
    /* padding: 16.8vw; */
    border: 3px solid #004069;
    border-radius: 25px;
}

.header > form > button:hover{
    color: #fffdef;
    background-color: #004069;
    border: 3px solid #004069;
}

.menu-tag{
    font-size: 30px;
    color: #E8348B;
    padding: 40px 40px;
    margin: 0 0;
}


/* buttons */
.pink-btn{
    font-size: 30px;
    display: flex;
    background-color: #E8348B;
    padding: 26px 250px 26px 30px;
}

.pink-btn > a{
    text-decoration: none;
    color: #fffdef;

}

.blue-btn{
    text-align: center;
    font-size: 20px;
    color: #fffdef;
    text-decoration: none;
    padding: 10px 28px;
    width: 130px;
    border: 3px solid #fffdef;
    border-radius: 50px;
}

.white-btn{
    text-align: center;
    font-size: 20px;
    color: #004069;
    text-decoration: none;
    padding: 10px 28px;
    width: 130px;
    border: 3px solid #004069;
    border-radius: 50px;
}

.white-btn{
    text-align: center;
    font-size: 20px;
    color: #004069;
    text-decoration: none;
    padding: 10px 28px;
    width: 130px;
    border: 3px solid #004069;
    border-radius: 50px;
}
