body {
    /* font-family: 'Acme', sans-serif; */
    font-family: 'Cabin', sans-serif;
}

.content-container{
    display: grid;
    grid-template-areas: 
        "header"
        "item1"
        "item2"
        "item3"
        "item4"
        "footer";
    background-color: #FFFDEF;
    max-width: 100vw;
}

.content-container > nav{
    padding: 0 0;
}

.menu > iframe{
    align-items: vertical;
    position: fixed;
}

.svg-img{
    display: block;
    height: 14.8vh;
}

.menu{
    width: 8.3 vw;
    cursor: pointer;
    position: fixed;
}

.menuItems{
    background-color: #FE308D;
    width: 100%;
    height: 100%;
    padding: 95px 0 0 280px;
    position: fixed;
    transform: translateX(-200%);
    transition: 0.5s ease;
    z-index: 2;
    display: block;
}

.showMenu{
    transform: translateX(0);
}

.menuItems > div > div > li{
    max-width: 354px;
    margin-bottom: 50px;
}

.menuItems > div > div > li > a{
    font-size: 36px;
    text-decoration: none;
    color: #FFFDEF
}

.menuItems > div > div > li > p{
    font-size: 17px;
    font-style: italic;
    color: #FFFDEF
}

.menuItems > div > div > li:hover > a,
.menuItems > div > div > li:hover > p{
    color: #004069;
}

.menuTag{
    font-size: 30px;
    color: #E8348B;
    padding: 40px 40px 40px 5px;
    margin: 0 0;
}

.header{
    /* align-items: left; */
    grid-area: header;
    /* right: 39.5 vw; */
    padding: 5 450px 0 190px;
    margin: 0 0;
    /* margin-left: 35.7vw; */
}

.right-img{
    height: 100vh;
    position: fixed;
    float: right;
}

.item1{
    grid-area: item1;
    text-align: left;
    /* /* padding-left: 280px; */
    /* padding-right: 120px; */
    /* left: 280px; */
    /* padding: 75px 75px 75px 75px; */
    padding: 132px 760px 75px 280px;
}

.item2{
    grid-area: item2;
    text-align: left;
    padding: 132px 760px 75px 280px;
    background-color: #004069;
}

.item3{
    grid-area: item3;
    text-align: left;
    padding: 132px 760px 75px 280px;
}

.item4{
    grid-area: item4;
    text-align: left;
    padding: 132px 760px 180px 280px;
    background-color: #004069;
}

.footer{
    grid-area: footer;
    text-align: left;
    padding: 132px 760px 75px 280px;
    background-color: #ffdd00;
}

h1{
    font-size: 44px;
    font-weight: medium;
    color: #004069;
}

h2{ 
    font-size: 76px;
    font-weight: bold;
    color: #E8348B;
}

h3{
    font-size: 36px;
    color: #fffdef;
}

h4{
    font-size: 30px;
    color: #fffdef;
}

h5{
    font-size: 30px;
    color: #e8348b;
    margin-bottom: 0;
}

h6{
    font-size: 44px;
    color: #004069;
    margin: 10px 0;
}

p{
    font-size: 24px;
    color: #004069;
}

.item1 > p{
    width: 45vw;
}

.item3 > h5{
    margin-top: 0;
}

.item3 > h6,
.item3 > div > h6{
    margin-bottom: 30px;
}

.item4 > h1{
    font-size: 53px;
    color: #E8348B;
}

.p-white{
    color: #fffdef;
    font-size: 20px;
    margin-bottom: 75px;
    width: 45vw;
}

.p-blue{
    color: #004069;
    font-size: 20px;
    width: 45vw;
    /* margin-bottom: 75px; */
}

.intro{
    font-size: 24px;
    color: #004069;
    margin-top: 52px;
    margin-bottom: 52px;
}

li{
    list-style-type: none;
}

.header > form {
    width: 46vw;
    margin: 0 0;
}

.header > form > input{
    text-align: center;
    width: 250;
    font-size: 15px;
    font-weight: bold;
    color: #004069;
    margin-left: 200px;
    background-color: #FFDD00;
    border: 1px solid #FFDD00;
    border-radius: 25px;
}

.header > form > button{
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    color: #004069;
    width: 100px;
    /* padding: 16.8vw; */
    border: 2px solid #004069;
    border-radius: 25px;
}

.header > form > button:hover{
    color: #fffdef;
    background-color: #004069;
    border: 2px solid #004069;
}


/* buttons */
.pink-btn{
    font-size: 30px;
    display: flex;
    background-color: #E8348B;
    padding: 26px 250px 26px 30px;
    position: relative;
    margin: 35px 0 39px 0;
}

.extLinkIcon{
    position: absolute;
    top: 32px;
    right: 36px;
}

.pink-btn > a{
    text-decoration: none;
    color: #fffdef;
}

.blue-btn{
    text-align: center;
    font-size: 20px;
    color: #fffdef;
    text-decoration: none;
    padding: 10px 28px;
    width: 130px;
    border: 3px solid #fffdef;
    border-radius: 50px;
}

.blue-btn:hover{
    color: #004069;
    background-color: #fffdef;
}

.white-btn{
    text-align: center;
    font-size: 20px;
    color: #004069;
    text-decoration: none;
    padding: 10px 28px;
    width: 130px;
    border: 3px solid #004069;
    border-radius: 50px;
}

.white-btn:hover{
    color: #fffdef;
    background-color: #004069;
}

.yellowContainer{
    margin-bottom: 81px;
}

.yellowCard{
    height: 84px;
    width: 400px;
    background-color: #FFDD00;
    border: 1px solid #FFDD00;
    border-radius: 1px;
    margin: 10px 0;
}

.yellowCard:hover{
    background-color: #004069;
}

.yellowCard:hover > div > p{
    color: #FFDD00;
}

.yellowCard > div > .title,
.whiteCard > div > .title{
    font-size: 17px;
    font-weight: bold;
    margin-left:30;
    margin-bottom: 0;
}

.yellowCard > div > .txt{
    font-size: 20px;
    margin-left:30;
}

.arrowR{
    position: absolute;
    top: 23px;
    right: 35px;
}

.whiteCard{
    height: 166px;
    width: 425px;
    background-color: #FFFDEF;
    border: 1px solid #FFFDEF;
    border-radius: 0%;
    margin: 10px 0;
}

.whiteCard > div > .title{
    color: #0096D6;
}

.whiteCard > div > .txt{
    font-size: 24px;
    margin: 0 30px 11px 30px
    /* margin-left: 30px;
    margin-right: 30px; */
}

.whiteCard > div > .cardFooter{
    font-size: 17px;
    font-style: italic;
    margin-left: 30px;
}

.guide{
    margin-top: 60px;
}

.socials{
    height: 25px;
    width: 25px;
    font-size: 25px;
    color: #004069;
    text-decoration: none;
}

.menu-ext-btn{
    color: #FFFDEF;
    text-decoration: none;
    padding: 10px 28px;
    border: 2px solid #FFFDEF;
    border-radius: 50px;
}

.menu-ext-btn:hover{
    color: #004069;
}

/* .menu-ext-btn-wrap{
    left: 180px;
    bottom: 90px;
} */

.blue-waves, .blue-waves2, .round-waves, .yellow-waves{
    overflow:hidden;
    position:relative;
}

.blue-waves::before{
    content:
    '';
    position: absolute;
    /* z-index: 3; */
    pointer-events: none;
    background-repeat: repeat-x;
    bottom: -0.1vw;
    left: -0.1vw;
    right: -29.1vw;
    top: -0.1vw;
    background-size: 13% 71px;
    background-position: 101% 103.5%;
    transform: rotateY(180deg);
    background-image: url('../resources/blue_waves.svg');
    }
    
    @media (min-width:2100px){
        .blue-waves::before{
        background-size: 100% calc(2vw + 26px);
    }
}

.blue-waves2::before{
    content:
    '';
    position: absolute;
    /* z-index: 3; */
    pointer-events: none;
    background-repeat: repeat-x;
    bottom: -0.1vw;
    left: -0.1vw;
    right: -29.1vw;
    top: -0.1vw;
    background-size: 13% 71px;
    background-position: 101% 101.75%;
    transform: rotateY(180deg);
    background-image: url('../resources/blue_waves.svg');
    }
    
    @media (min-width:2100px){
        .blue-waves2::before{
        background-size: 100% calc(2vw + 26px);
    }
}

.round-waves::before{
    content:
    '';
    position: absolute;
    /* z-index: 3; */
    pointer-events: none;
    background-repeat: repeat-x;
    bottom: -0.1vw;
    left: -0.1vw;
    right: -29.1vw;
    top: -0.1vw;
    background-size: 13% 71px;
    background-position: 101% 103%;
    transform: rotateY(180deg);
    background-image: url('../resources/round_waves.svg');
    }
    
    @media (min-width:2100px){
        .round-waves::before{
        background-size: 100% calc(2vw + 26px);
    }
}

.yellow-waves::before{
    content:
    '';
    position: absolute;
    /* z-index: 3; */
    pointer-events: none;
    background-repeat: repeat-x;
    bottom: -0.1vw;
    left: -0.1vw;
    right: -29.1vw;
    top: -0.1vw;
    background-size: 13% 71px;
    background-position: 101% 111%;
    transform: rotateY(180deg);
    background-image: url('../resources/yellow_waves.svg');
    }
    
    @media (min-width:2100px){
        .yellow-waves::before{
        background-size: 100% calc(2vw + 26px);
    }
}

.rope{
    position: absolute;
    background-image: url(../resources/rope.svg);
    height: 19px;
    margin: 10px;
    margin-left: -20vw;
    width: 100vw;
}

.rope-wrapper{
    height: 10px;
    margin: 10vh;
}

@media screen and (max-width: 1440px) {

    .header{
        padding: 5 500px 0 140px;
    }
    
    .item1{
        padding: 50px 500px 75px 200px; 
    }
    
    .item2, .item3, .item4, .footer{
        padding: 75px 500px 75px 200px;
    }

    .intro{
        font-size: 18px;
        margin-top: 26px;
    }

    .white-btn, .blue-btn{
        font-size: 15px;
        font-weight: bold;
    }

    .yellowCard{
        height: 60px;
        width: 300px;
    }

    .yellowCard > div > .title,
    .whiteCard > div > .title{
        font-size: 12px;
        margin-left: 10px;
    }

    .yellowCard > div > .txt{
        font-size: 15px;
        margin-left: 10px;
    }

    .card-body{
        padding-top: 10px;
    }

    .arrowR{
        top: 14px;
        right: 25px;
    }

    .whiteCard{
        height: 120px;
        width: 325px;
    }

    .whiteCard > div > .txt{
        font-size: 18px;
        margin: 5px 30px 2px 10px
    }

    .whiteCard > div > .cardFooter{
        font-size: 12px;
        margin-left: 10px;
    }

    h1{
        font-size: 30px;
    }

    h2{
        font-size: 60px;
    }

    h3{
        font-size: 25px;
    }

    h5{
        font-size: 25px;
    }

    h6{
        font-size: 35px;
    }

    .item4 > h1{
        font-size: 40px;
    }

    .p-white{
        font-size: 15px;
        margin: 20px 0px;
    }

    .p-blue{
        font-size: 16px;
    }

    .pink-btn{
        font-size: 25px;
        width: 690px;
        /* padding: ; */
    }

    .extLinkIcon{
        position: absolute;
        top: 28px;
        right: 30px;
    }

    .menuItems{
        padding: 60px 0 0 200px;

    }

    .menuItems > div > div > li{
        max-width: 300px;
        margin-bottom: 25px;
    }

    .menuItems > div > div > li > a,
    .menu-ext-btn{
        font-size: 26px;
    }

    .menuItems > div > div > li > p{
        font-size: 12px;
    }

    .menu-ext-btn{
        margin: 0px 10px;
    }
    .menu-ext-btn-wrap{
        left: 180px;
        bottom: 90px;
    }
}